
// .form{
//     margin-top: 10%;
   
//      }
ion-input {
    width: 100%;
  
   
  }
  .error{
    color: red;
    text-align: center;
  }
 
form{
  padding-top: 5%; 
}

//  image




// new login

.container {

padding-top: 10%;
padding-bottom: 10%;

}

.center{
display: flex;
justify-content: center;
}

.align-center{
text-align: center;
}
.myButton{
padding:10px;
display: flex;
justify-content: center;
}

.input{
margin: auto;
padding:15px
}

.commpany_icon{
height: 50%;
width: 50%;
}