
.form{
    margin-top: 20%;
   
     }
    
    
 // form{
 //   justify-content: center;
 //     padding-top: 5%; 
 //  }
 
 //  image
 
 
 
 // new login

 
//  .center{
//    display: flex;
//    justify-content: center;
//    border: 2px blue($color: #000000);
//  }
 
//  .align-center{
//    text-align: center;
//  }
//  .myButton{
//    padding:10px;
//    display: flex;
//    justify-content: center;
//  }
 
 .input{
   margin: auto;
   padding:15px
 }